@theme "~/.dotfiles/rofi/.config/rofi/nordi.rasi"
configuration {
    modi: "window,drun,ssh,combi";
    font: "Hack 15";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
    combi-modi: "window,drun,ssh";
}
